body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
    color: #333333;
    margin-bottom: 20px;
}

#slots-container {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.slot {
    border: 2px solid #cccccc;
    border-radius: 5px;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    background-color: #f4f4f9;
    font-weight: bold;
    color: #333333;
}

#selected-celeb {
    margin-top: 20px;
    font-size: 1.5em;
    color: #555555;
    font-weight: bold;
}

#media-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.media-feed img, .media-feed video {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#celebEditDiv.hidden {
    display: none;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

textarea {
    width: 100%;
    max-width: 300px;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}
